<nav-pills class="nav nav-tabs" role="tablist">
  <li><%= link_to 'Galllery List', posts_path %></li>
  <li class="active"><%= link_to 'New Post', new_post_path %></li>
</nav-pills>

<h1>New Post</h1>

<%= render 'form' %>

<%= link_to 'Back', posts_path %>
